$DARKER: #0c0e14
$DARK: #181b28

$PURPLE: #9390cf
$BLUE: #79b3cf
$CYAN: #79dfc8

$SALMON: #ff98b0
$ORANGE: #f0bd91
$YELLOW: #f2ebb8

$LIGHT: #ffffff

$GAP: 20px

*
    padding: 0px
    border: 0px
    margin: 0px
    transition: background-color 0.5s, color 0.5s

.darker
    background-color: $DARKER
    color: $LIGHT
    & .highlight-block, & .action-block
        color: $DARKER
    & *
        border-color: $LIGHT
    
.dark
    background-color: $DARK
    color: $LIGHT
    & .highlight-block, & .action-block
        color: $DARK
    & *
        border-color: $LIGHT

.light
    background-color: $LIGHT
    color: $DARKER
    & .highlight-block, & .action-block
        color: $LIGHT
    & *
        border-color: $DARKER

.highlight-block
    background-color: $SALMON
    &.hover:hover
        background-color: $ORANGE

.action-block
    background-color: $BLUE
    &.hover:hover
        background-color: $CYAN

html
    background-color: $DARKER

body
    font-family: 'Fira Code', serif, monospace

a
    text-decoration-line: none
    color: $BLUE
    &:visited
        color: $PURPLE
    &:hover
        color: $CYAN
    &:active
        color: $LIGHT

@mixin h-base()
    padding-left: $GAP
    margin-bottom: $GAP
    margin-top: $GAP

h1
    @include h-base()
    font-size: xxx-large
    border-left: $GAP
    border-style: double

h2
    @include h-base()
    font-size: xx-large
    border-left: 2px
    border-style: solid

h3
    @include h-base()
    font-size: x-large
    border-left: 2px
    border-style: dotted

p
    font-size: large


.app
    display: flex
    flex-direction: column
    align-items: stretch

.navbar
    display: flex
    flex-direction: row
    justify-content: center
    & > .item
        padding: $GAP

.extras
    display: flex
    flex-direction: row
    justify-content: center

.row
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

.col
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.box
    display: flex
    flex-direction: inherit
    align-items: center
    justify-content: center

.nugget
    max-width: $GAP
    min-width: $GAP
    max-height: $GAP
    min-height: $GAP

.highlight
    color: $SALMON
    font-weight: bold
    &.hover:hover
        color: $ORANGE

.action
    color: $BLUE
    font-weight: bold
    &.hover:hover
        color: $CYAN

.rounded
    border-radius: $GAP

.bordered
    border-left-width: 2px
    border-right-width: 2px
    border-top-width: 2px
    border-bottom-width: 2px
    border-style: solid

.padded
    padding-left: $GAP
    padding-right: $GAP
    padding-top: $GAP
    padding-bottom: $GAP

.margined
    margin-left: $GAP
    margin-right: $GAP
    margin-top: $GAP
    margin-bottom: $GAP

.stack
    display: grid
    grid-template-rows: auto
    grid-template-columns: auto
    gap: 0px
    & > *
        grid-column: 1
        grid-row: 1

.material-icons
    font-size: larger
    vertical-align: bottom