$DARKER: #000000
$DARK: #11161f

$PURPLE: #8e1efa
$BLUE: #5668e9
$CYAN: #00d96d

$SALMON: #de3d82
$ORANGE: #f8837c
$YELLOW: #f2ebb8

$LIGHT: #ffffff

$GAP: 20px
$UBERGAP: 80px

*
    padding: 0px
    border: 0px
    margin: 0px
    transition: background-color 0.5s, color 0.5s

    scrollbar-color: $SALMON transparent

.darker
    background-color: $DARKER
    color: $LIGHT
    & .highlight-block, & .action-block
        color: $DARKER
    & *
        border-color: $LIGHT
    
.dark
    background-color: $DARK
    color: $LIGHT
    & .highlight-block, & .action-block
        color: $DARK
    & *
        border-color: $LIGHT

.light
    background-color: $LIGHT
    color: $DARKER
    & .highlight-block, & .action-block
        color: $LIGHT
    & *
        border-color: $DARKER

.highlight-block
    background-color: $SALMON
    &.hover:hover
        background-color: $ORANGE

.action-block
    background-color: $BLUE
    &.hover:hover
        background-color: $CYAN


// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Montserrat:wght@900&family=Quicksand:wght@300;700&display=swap" rel="stylesheet">

@mixin title()
    font-family: 'Montserrat', sans-serif // https://fonts.google.com/specimen/Montserrat
    font-weight: 900

@mixin bold()
    font-family: 'Quicksand', sans-serif // https://fonts.google.com/specimen/Quicksand
    font-weight: 700

@mixin regular()
    font-family: 'Quicksand', sans-serif // https://fonts.google.com/specimen/Quicksand
    font-weight: 300

@mixin mono()
    font-family: 'Anonymous Pro', monospace // https://fonts.google.com/specimen/Anonymous+Pro
    font-weight: 700

.title
    @include title() 

.bold
    @include bold()

.regular
    @include regular()
    
.mono
    @include mono()

body
    @include regular()
    background-color: $DARKER
    transition: none
a
    text-decoration-line: none
    color: $BLUE
    &:visited
        color: $PURPLE
    &:hover
        color: $CYAN
    &:active
        color: $LIGHT
    &.highlight-gradient, &.reverse-highlight-gradient, &.highlight
        color: $SALMON
        &:visited
            color: $SALMON
        &:hover
            color: $ORANGE
        &:active
            color: $LIGHT
    &.action-gradient, &.reverse-action-gradient, &.action
        color: $BLUE
        &:visited
            color: $BLUE
        &:hover
            color: $CYAN
        &:active
            color: $LIGHT

@mixin h-base()
    @include title()
    padding-left: $GAP
    margin-bottom: $GAP
    margin-top: $GAP

h1
    @include h-base()
    font-size: xxx-large
    border-left: $GAP
    border-style: double

h2
    @include h-base()
    font-size: xx-large
    border-left: 2px
    border-style: solid

h3
    @include h-base()
    font-size: x-large
    border-left: 2px
    border-style: dotted

p
    font-size: large

u
    text-decoration-line: underline
    text-decoration-thickness: 2px

input
    @include mono()
    background-color: transparent
    color: inherit
    flex: 1
    font-size: large
    border-left-width: 0px
    border-right-width: 0px
    border-top-width: 0px
    border-bottom-width: 0px
    &:focus
        outline: none
    &:invalid
        color: $SALMON
    &:disabled
        background-color: $DARKER

textarea
    @include mono()
    background-color: transparent
    color: inherit
    flex: 1
    font-size: large
    border-left-width: 2px
    border-right-width: 2px
    border-top-width: 2px
    border-bottom-width: 2px
    border-style: solid
    border-image: linear-gradient(90deg, $BLUE, $CYAN 35%, $YELLOW) 1
    &:focus
        outline: none
    &:invalid
        color: $SALMON
    &:disabled
        background-color: $DARKER

.app
    display: flex
    flex-direction: column
    align-items: stretch

.navbar
    display: flex
    flex-direction: row
    justify-content: center
    & > .item
        padding: $GAP

.extras
    display: flex
    flex-direction: row
    justify-content: center

.row
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

.col
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.spaced
    gap: $GAP

.uberspaced
    gap: $UBERGAP

.box
    display: flex
    flex-direction: inherit
    align-items: center
    justify-content: center

.nugget
    max-width: $GAP
    width: $GAP
    min-width: $GAP
    max-height: $GAP
    height: $GAP
    min-height: $GAP

.highlight
    color: $SALMON
    &.hover:hover
        color: $ORANGE

.action
    color: $BLUE
    &.hover:hover
        color: $CYAN

.rounded
    border-radius: $GAP

.bordered
    border-left-width: 2px
    border-right-width: 2px
    border-top-width: 2px
    border-bottom-width: 2px
    border-style: solid

.row-uberpadded
    padding-left: $UBERGAP
    padding-right: $UBERGAP

.col-uberpadded
    padding-top: $UBERGAP
    padding-bottom: $UBERGAP

.padded
    padding-left: $GAP
    padding-right: $GAP
    padding-top: $GAP
    padding-bottom: $GAP

.margined
    margin-left: $GAP
    margin-right: $GAP
    margin-top: $GAP
    margin-bottom: $GAP

.stack
    display: grid
    grid-template-rows: auto
    grid-template-columns: auto
    gap: 0px
    & > *
        grid-column: 1
        grid-row: 1

.material-icons
    font-size: larger
    vertical-align: bottom

@mixin gradient-text-base()
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text
    -moz-background-clip: text
    -ms-background-clip: text
    -o-background-clip: text
    background-clip: text
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent
    -moz-text-fill-color: transparent
    -ms-text-fill-color: transparent
    -o-text-fill-color: transparent
    text-fill-color: transparent

.highlight-gradient
    background: linear-gradient(90deg, $SALMON, $ORANGE 65%, $YELLOW)
    @include gradient-text-base()

.action-gradient
    background: linear-gradient(90deg, $BLUE, $CYAN 35%, $YELLOW)
    @include gradient-text-base()

.reverse-highlight-gradient
    background: linear-gradient(90deg, $YELLOW , $ORANGE 35%, $SALMON)
    @include gradient-text-base()

.reverse-action-gradient
    background: linear-gradient(90deg, $YELLOW, $CYAN 65%, $BLUE)
    @include gradient-text-base()