* {
  padding: 0px;
  border: 0px;
  margin: 0px; }

.darker {
  background-color: #0c0e14;
  color: #ffffff; }
  .darker .highlight-block, .darker .action-block {
    color: #0c0e14; }
  .darker * {
    border-color: #ffffff; }

.dark {
  background-color: #181b28;
  color: #ffffff; }
  .dark .highlight-block, .dark .action-block {
    color: #181b28; }
  .dark * {
    border-color: #ffffff; }

.light {
  background-color: #ffffff;
  color: #0c0e14; }
  .light .highlight-block, .light .action-block {
    color: #ffffff; }
  .light * {
    border-color: #0c0e14; }

.highlight-block {
  background-color: #ff98b0; }
  .highlight-block.hover:hover {
    background-color: #f0bd91; }

.action-block {
  background-color: #79b3cf; }
  .action-block.hover:hover {
    background-color: #79dfc8; }

html {
  background-color: #0c0e14; }

body {
  font-family: 'Fira Code', serif, monospace; }

a {
  text-decoration-line: none;
  color: #79b3cf; }
  a:visited {
    color: #9390cf; }
  a:hover {
    color: #79dfc8; }
  a:active {
    color: #ffffff; }

h1 {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: xxx-large;
  border-left: 20px;
  border-style: double; }

h2 {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: xx-large;
  border-left: 2px;
  border-style: solid; }

h3 {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: x-large;
  border-left: 2px;
  border-style: dotted; }

p {
  font-size: large; }

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .navbar > .item {
    padding: 20px; }

.extras {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.box {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center; }

.nugget {
  max-width: 20px;
  min-width: 20px;
  max-height: 20px;
  min-height: 20px; }

.highlight {
  color: #ff98b0;
  font-weight: bold; }
  .highlight.hover:hover {
    color: #f0bd91; }

.action {
  color: #79b3cf;
  font-weight: bold; }
  .action.hover:hover {
    color: #79dfc8; }

.rounded {
  border-radius: 20px; }

.bordered {
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: solid; }

.padded {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.margined {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }

.stack {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  gap: 0px; }
  .stack > * {
    grid-column: 1;
    grid-row: 1; }

.material-icons {
  font-size: larger;
  vertical-align: bottom; }
